<div class="min-h-screen py-10 px-20">
  <div
    class="flex justify-end p-10 w-full h-full text-gray-700 bg-img rounded-lg"
  >
    <div class=" bg-white rounded-lg px-5 py-2.5">
      <h1 class="text-3xl">Need Support</h1>
      <h1 class="text-md">Contact professional for Guidance</h1>

      <form
        (ngSubmit)="onFormSubmit()"
        #form="ngForm"
        class="bg-white py-8 rounded-lg"
      >
        <div class="mb-4">
          <input
            class="border-gray-300 border-2 p-2 rounded-lg w-full focus:outline-none focus:border-blue-500"
            type="text"
            name="name"
            placeholder="Name"
            [(ngModel)]="formData.name"
            required
          />
        </div>

        <div class="mb-4">
          <input
            class="border-gray-300 border-2 p-2 rounded-lg w-full focus:outline-none focus:border-blue-500"
            type="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="formData.email"
            required
          />
        </div>

        <div class="mb-4">
          <input
            class="border-gray-300 border-2 p-2 rounded-lg w-full focus:outline-none focus:border-blue-500"
            type="tel"
            name="phone"
            placeholder="Phone"
            [(ngModel)]="formData.phone"
            required
          />
        </div>

        <div class="mb-4">
          <textarea
            class="border-gray-300 border-2 p-2 rounded-lg w-full h-24 focus:outline-none focus:border-blue-500"
            name="query"
            placeholder="Query"
            [(ngModel)]="formData.query"
            required
          ></textarea>
        </div>

        <div class="flex items-center justify-center mt-4">
          <button
            [disabled]="!form.valid"
            class=" text-white font-bold py-2 px-8 rounded-lg focus:outline-none focus:shadow-outline"
            [ngClass]="!form.valid? 'bg-gray-400 hover:bg-gray-600 opacity-90': 'bg-blue-500 hover:bg-blue-600'"
            type="submit"
          >
            {{form.valid? 'Submit': 'Fill the form'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
